<header>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "About")">About</a></li>
            <li><a href="@Url.Action("Index", "Service")">Service</a></li>
            <li><a href="@Url.Action("Index", "Portfolio")">Portfolio</a></li>
            <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
        </ul>
    </nav>
    <div class="content-home">
        <h2>Digital Innovators</h2>
        <p>When it comes to delivering bleeding edge digital solutions, top brands in technology, sports, and entertainment trust our team of designers, developers, and strategic thinkers to get the job done.</p>
        <button class="btn-showcase">Project Showcase</button>
    </div>
</header>
